<html>
<head>
  <meta charset="UTF-8">
  <title>Review Your Dips!</title>
  <script src="/assets/ui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <div id="app">
  </div>
  <script>
    var email = '<%= email %>';
    if (!email) email = localStorage.getItem('pr-email');
    while (!email) {
       email = prompt('enter your powerreviews email');
    }
    if (email) localStorage.setItem('pr-email', email);
    window.POWERREVIEWS.display.renderRYP('app', {merchant_user_email: email});
  </script>
  <link href="/assets/styles.css">
</body>
</html>
